{{>navigation}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/categories/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nombre de la Categoría"
                                autofocus>
                        </div>
                        <div class="input-group ">
                            <div class="form-group mt-1">
                                <button class="btn btn-success btn-block" id="boton">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
