{{>navigation}}
{{>flash}}
<div class="container p-4">
    <a class="btn btn-primary btn-md my-0 p" href="/categories/add">
        <i class="fas fa-plus-square text-white" style="font-size: 2em;"></i><br> Agregar
    </a>
    <div class="row">

        {{#if cate}}
        {{#each cate}}
        <div class="col-md-4">
            <div class="card text-center mb-2" style="border-color: aqua;">
                <div class="card-body">
                    <a target="_blank">
                        <h3 class="card-title text-uppercase">
                            {{name}}
                        </h3>
                    </a>
                    <a class="btn btn-danger" href="/links/delete/{{idProduct}}">
                        Borrar
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{idProduct}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{/each}}


        {{else}}


        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay Categorías creadass aún.</p>
                <a href="/categories/add">Añadir uno!</a>
            </div>
        </div>
        {{/if}}

    </div>
</div>
{{>footer}}