<h2 class="mt-4">Teclados</h2>
<div class="row no-gutters justify-content-center">
    <div class="row">
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/TECH.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">Teclado Gaming XXTTR</a>
                <p>$ 900.00</p>
            </div>
        </div>   
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/SGK4.JPG" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">TECLADO GAMING SGK4</a>
                <p>$ 950.00</p>
            </div>
        </div>
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/teclado-redragon-k506-centaur-2.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">TECLADO REDRAGON K506</a>
                <p>$ 1000.00</p>
            </div>
        </div>
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/amiger-1200x1200.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">XTECH amiger</a>
                <p>$ 1500.00</p>
            </div>
       </div>
    </div>
</div>