<h2 class="mt-4">Mouse</h2>
<div class="row no-gutters justify-content-center">
    <div class="row">
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/mouse.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">Mouse Xtreme USB</a>
                <p>$ 500.00</p>
            </div>
        </div>   
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/Astra-AM8.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">Astra AM8 (Mouse/Mouse Pad)</a>
                <p>$ 550.00</p>
            </div>
        </div>
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/Astra-M30.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">Astra AM30 (Mouse/Mouse Pad)</a>
                <p>$ 500.00</p>
            </div>
        </div>
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/genius x-g600.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">Mouse Gaming Genius X-G600</a>
                <p>$ 500.00</p>
            </div>
        </div>
    </div>
</div>