<h2 class="mt-4">Speakers</h2>
<div class="row no-gutters justify-content-center">
    <div class="row">
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/microlab-tmn9bt-2-1-bluetooth-speaker-01-1200x1200.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">Microlab TMN-9BT</a>
                <p>$ 3500.00</p>
            </div>
        </div>   
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/microlab-b77bt.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">Microlab B77BT</a>
                <p>$ 1950.00</p>
            </div>
        </div>
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/SBSA350-1200x1200.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">Creative A350 2.1 Speaker System</a>
                <p>$ 3800.00</p>
            </div>
        </div>
        <div class="col-sm contanedorm">
            <img class="img-format img-fluid" src="/src/public/Imagen/Nommo_Chroma_3-1200x1200.jpg" alt="Imagen del Producto">
            <hr>
            <div class="div-design">
                <a href="">RAZER Nommo Chroma 2.0 </a>
                <p>$ 5000.00</p>
            </div>
        </div>
    </div>
</div>