     <link rel="stylesheet" href="/css/styles.css">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 bg-dark my-4" >
                        <h2 class="title-SobreProducto text-uppercase font-weight my-1 ">Descripción del Producto</h2>
                    </div>
                    <div class="col-sm-5">
                        <div class="div-pading">
                            <img class="img-format img-fluid" src="/img/Razen1.jpg" alt="Imagen del Mouse">
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-format img-fluid" src="/img/Razen 2.jpg" alt="Imagen del Mouse">
                            </div>
                            <div class="col-sm-4">
                                <img class="img-format img-fluid" src="/img/Razen 3.jpg" alt="Imagen del Mouse">
                            </div>
                            <div class="col-sm-4">
                                <img class="img-format img-fluid" src="/img/Razen 4.jpg" alt="Imagen del Mouse">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 div-color" >
                        <h2>Razer Naga Trinity Gaming Mouse: 16,000 DPI Optical Sensor</h2>
                        <p>
                            <strong>Descripción:</strong>
                             <ul>
                                <li>The #1 Best-Selling Gaming Peripherals Manufacturer in the US: Source - The NPD Group, Inc. U.S. Retail Tracking Service, Keyboards, Mice, PC Headset/Pc Microphone, Gaming Designed, based on dollar sales, Jan. 2017- Dec. 2019 </li>
                                <li>High-Precision 16,000 DPI Optical Sensor: Offers on-the-fly sensitivity adjustment through dedicated DPI buttons (reprogrammable) for gaming </li>
                                <li>Full Modular Customizability: 3 interchangeable side plates with 2, 7 and 12-button configurations </li> 
                            </ul>
                        </p>
                       
                        <p><strong>Precio:</strong> $500.00</p>
                        <p><strong>Quality:</strong> Una de las mejores </p>
                        
                    <form action="your-server-side-code" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_51H2N7MLEI8ChCXhjdDZBQPxygRWwufQoYwRMmmrpi8JaY1FwB4u79Vk5DWV2HnyijJBvHRxZFkwEYozzpBbUbZSt00OKF8h87l"
                            data-amount="999"
                            data-name="Tech2U"
                            data-description="Widget"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto">
                        </script>   
                    </form>

                      
                    </div>
                </div>
            </div>
      </div>
      </div>
      <div class="div-pading">

      </div>
    