{{>navigation}}
<div class="container">
    <div class="row">
        <img src="" alt="Imagen de error 404">
    </div>
    <div class="row">
        <div class="alert text-center" role="alert">No se encuentra en <br>
            <a href="/" class="btn btn-primary btn-md my-0 p">TECH2U <i class="fas fa-store"></i></a>
        </div>
    </div>
</div>
{{>footer}}