{{>navigation}}
<div class="container">
    <div class="row">
        <img src="" alt="Imagend de error 404">
    </div>
    <div class="row">
        <h1>Pagina no Encontrada</h1>
        <button href="/" style="background-color: #007717; color: #ffff; width: 100%" class="btn center-block btn-dis"> 
            <i class="fas fa-home"></i>
                Inicio
        </button>
    </div>
</div>
{{>footer}}