{{>navigation}}
<div class="container">
    <div class="alert text-center">
        <div class="alert text-center" role="alert">No se encuentra en <a href="/"
                class="btn btn-primary btn-md my-0 p">TECH2U <i class="fas fa-store"></i></a>
        </div>
    </div>
    <div class="text-center">
        <img class="rounded mx-auto d-block img-fluid " style="height: 550px;" src="/img/404_error.jpg" alt="Imagen de error 404">
    </div>

</div>
{{>footer}}