   <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                {{!-- Alertas --}}
                {{>flash}}
                <div class="card card-login">
                    <form class="form" action="/resetear_password/{{token}}" method="POST">
                        <div class="card-header card-header-primary text-center">
                            <h4>Cambia tu contrase침a</h4>
                        </div>
                        <p class="description text-center">Ingresa tu nueva contrase침a</p>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                </div>
                                <input class="form-control" type="password" name="password" id="password" placeholder="Contrase침a" required>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="/signin">Ir al inicio de sesi칩n</a>
                        </div>
                        <div class="footer text-center">
                            <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit">Cambiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>