{{>navigation}}
<div class="blur">
    <div class="contact-form">
        <img src="/img/logo_icono.ico" class="avatar" style="background-color: #fff;">
        <h2>Restablece tu contraseña</h2>
        <hr>
        {{!-- Alertas --}}
        {{>flash}}
        <form action="/restablecer_password" method="POST">
            <p class="description text-center">Ingresa tu correo electrónico</p>
            <hr>
            <input type="text" name="email" id="email" placeholder="alguien@correo.com" required>
            <div class="footer text-center">
                <input type="submit" name="" value="Restablecer">
            </div>
        </form>



    </div>

</div>