<footer class="page-footer bg-dark">
    <div class="bg-success">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-12 text-center">
                    <a href="#"><i class="fab fa-facebook-f text-white mr-4"></i></a>
                    <a href="#"><i class="fab fa-twitter text-white mr-4 "></i></a>
                    <a href="#"><i class="fab fa-instagram  text-white mr-4 "></i></a>
                    <a href="#"><i class="fab fa-google-plus  text-white mr-4 "></i></a>
                    <a href="#"><i class="fab fa-snapchat-ghost  text-white"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center text-md-left mt-5">
        <div class="row">
            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-white">Información</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px;">
                <p class="mt-2 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eum.
                    Architecto sed quae, cumque aliquid laboriosam a maiores ducimus. Consequatur mollitia quasi aliquam
                    nemo vel, pariatur sint recusandae dignissimos aut.</p>
            </div>
            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-white">Productos</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px;">
                <ul class="list-unstyled">
                    <li class="mt-2"><a href="#"
                            style=" display: inline-block;text-decoration: none; color: inherit;"><i
                                class="fas fa-mouse"></i> Mouse</a></li>
                    <li class="mt-2" style="text-decoration: none;"><a href="#"
                            style=" display: inline-block;text-decoration: none; color: inherit;"><i
                                class="fas fa-keyboard"></i> Teclado</a></li>
                    <li class="mt-2" style="text-decoration: none;"><a href="#"
                            style=" display: inline-block;text-decoration: none; color: inherit;"><i
                                class="fas fa-volume-up"></i> Speakers</a></li>
                    <li class="mt-2" style="text-decoration: none;"><a href="#"
                            style=" display: inline-block;text-decoration: none; color: inherit;"><i
                                class="fas fa-laptop"></i> Accesorios</a></li>
                    <li class="mt-2" style="text-decoration: none;"><a href="#"
                            style=" display: inline-block;text-decoration: none; color: inherit;"><i
                                class="fas fa-user-check"></i> Refurbished</a></li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-white">Navegación</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px;">
                <ul class="list-unstyled">
                    <li class="mt-2"><a href="#"
                            style=" display: inline-block;text-decoration: none; color: inherit;"><i
                                class="fas fa-home"></i> Inicio</a></li>
                    <li class="mt-2"><a href="#"
                            style=" display: inline-block;text-decoration: none; color: inherit;"><i
                                class="fas fa-store"></i> Tienda</a></li>
                    <li class="mt-2"><a href="#"
                            style=" display: inline-block;text-decoration: none; color: inherit;"><i
                                class="fas fa-universal-access"></i> Vender tu Producto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
        <a href="#" style="text-decoration: none;"><i class="fas fa-code-branch"></i> Tech2U.com</a>
    </div>
</footer>