<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-code-branch"></i> Tech2U
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="/">| <i class="fas fa-home"></i>Inicio </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            | Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/links">Todas los productos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/links/add">Agregar productos</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            | Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/categories">Todas las categorias</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/categories/add">Agregar categorias</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            | <i class="far fa-user"></i> {{user.fullName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Profile">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" style="color: white" ; href="/cart">| <span class="badge red z-depth-1 mr-1">
              1 </span><i class="fas fa-shopping-cart"></i> Carrito </a>
        </li>
        {{#unless user.userType}}

        {{/unless}}
        {{else}}
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="/">| <i class="fas fa-home"> </i> Inicio |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="/signin"> Iniciar Sesión |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="/signup"> Registro |</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>