<link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet">

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>ABKONCORE<br>
                Astra AM30</h4>
              <p>Optimizado para juegos: el sensor de juegos AVAGO 3050 proporciona precisión <br>
                y reconocimiento exacto de movimientos rápidos. </p>
              <p class="h3"> <strong>Pronto en Inventario</strong></p>
            </div>
            <div class="col-md-5 col-12 order-md-2 order-1"><img src="img/slideMouse.png"
                class="mx-auto img-format img-fluid" alt="Imagen de mouse"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>CENTAUR<br>
                K506</h4>
              <p>Construcción de metal y ABS para rigidez y longevidad. <br>
                nalienfusion polipropileno moldeado por inyección teclas para retroiluminación transparente </p>
              <p class="h3"> <strong>Pronto en Inventario</strong></p>
            </div>
            <div class="col-md-5 col-12 order-md-2 order-1"><img src="img/slideTeclado.png" class="mx-auto"
                alt="Imagen del Teclado"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>RAZER Nommo Chroma <br>
                2.0 Speaker System</h4>
              <p>Los mejores Speakers personalizados de fibra de vidrio tejida de 3 pulgadas <br>
                están diseñados para ofrecer un sonido ultra claro con una nitidez asombrosa.</p>
              <p class="h3"><strong>Pronto en Inventario</strong></p>
            </div>
            <div class="col-md-5 col-12 order-md-2 order-1"><img src="img/slideSpeaker.png" class="mx-auto"
                alt="Imagen del Speaker"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span
      class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a
    class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span
      class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>