<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nombre del Producto"
                                autofocus>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">L.</span>
                            </div>
                            <input type="number" name="price" class="form-control" aria-label="Cantidad"
                                placeholder="1234.00">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="category">
                                <option value="" disabled selected hidden>Categoría</option>
                                <option value="Hola">1</option>
                                <option value="Hola2">2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class="form-control"
                                placeholder="Descripción" ></textarea>
                        </div>
                        <div class="form-group">
                            <input type="url" name="imgURL" class="form-control" placeholder="URL de la Imagen">
                        <br>
                        <input id="toggle-event" type="checkbox" data-toggle="toggle" data-on="URL" data-off="Subir"
                            data-onstyle="info" data-offstyle="success">
                        <div class="form-group border-bottom-0">
                            <div class="custom-file">
                                <input name="imagen" type="file" class="custom-file-input" id="customFileLangHTML">
                                <label class="custom-file-label" for="customFileLangHTML"
                                    data-browse="Elegir">Seleccionar archivo</label>
                                <div id="console-event"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block" id="boton">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>