<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @media screen and (max-width: 720px) {
            body {
                width: 100% !important;
                max-width: 720px !important;
                background-color: #eee;
            }
        }
    </style>
    <title>Reestablece tu contraseña de Tech2u</title>
</head>

<body>
    <div class="text-center"> <img src="/img/logo_icono.ico" alt="Tech2u" class="avatar img-fluid"
            style="background-color: #fff;"></div>

    <h2>Reestablece tu contraseña</h2>
    <p>¡Hola {{fullname}}! Al parecer has solicitado reestablecer tu contraseña de Tech2u.com. <br> Solo Haz clic en el
        boton de abajo para poder reestablecerla .</p>
    <div class="alert alert-warning " role="alert">
        Ten en cuenta que este enlace es temporal, así que si se vence, podrás volver a solitarlo.
        <a class="btn btn-success btn-block" href="{{resetUrl}}">Reestablece tu contraseña</a>
    </div>
    <p>Si no puedes acceder al enlace, copiar el siguiente enlace una pestaña del navegador: {{resetUrl}}</p>
    <p>Si no solicitaste reestablecer tu contraseña, puedes ignorar este correo.</p>
    <p>No responda este correo.</p>
    <p>Los mejores deseos,</p>
    <div class="text-left"><img src="/img/name.png" alt="Tech2u" class="img-fluid img-thumbnail" style="height: 80px;">
    </div>
</body>

</html>