{{>navigation}}
<div class="blur">
    <div class="contact-form">
        <img src="/img/logo.png" class="avatar">
        <h2>Iniciar de Sesi칩n</h2>
        <form action="/signin" method="POST">
            <p>Correo</p>
            <input type="text" name="email" placeholder="Alguien@correo.com">
            <p>Contrase침a</p>
            <input type="password" name="password" placeholder="Contrase침a">
            <input type="submit" name="" value="Iniciar Sesi칩n">
            <p><input type="checkbox">Recordarme</p>
        </form>
    </div>
</div>