{{>navigation}}
<div class="blur">
    <div class="contact-form">
        <img src="/img/logo.png" class="avatar">
        <h2>Iniciar de Sesión</h2>
        <form action="/signin" method="POST">
            <p>Correo</p>
            <input type="text" name="email" placeholder="Alguien@correo.com">
            <p>Contraseña</p>
            <input type="password" name="password" placeholder="Contraseña">
            <a href="/restablecer_password">Recuperar contraseña</a>
            <input type="submit" name="" value="Iniciar Sesión">
            <p><input type="checkbox">Recordarme</p>
        </form>
    </div>
</div>