{{>navigation}}
<div class="blur">
    <div class="contact-form">
        <img src="/img/logo_icono.ico" class="avatar" style="background-color: #fff;">
        <h2>Iniciar de Sesión</h2>


        <form action="/signin" method="POST">
            <p>Correo</p>
            <input type="text" name="email" placeholder="Alguien@correo.com">
            <p>Contraseña</p>
            <input type="password" name="password" placeholder="Contraseña">
            <div class="text-center">
                <h2><a href="/restablecer_password">Olvidé mi contraseña</a></h2>
                <a href="/signup ">¿No tienes cuenta? Registrate ahora </a> </h2>
            </div>

            <input type="submit" name="" value="Iniciar Sesión">

        </form>


    </div>
</div>