{{>navigation}}
<div class="blur">
    <div class="contact-form">
        <img src="/img/logo.png" class="avatar">
        <h2>Registrarse</h2>
        <form action="/signup" method="POST">
            <p>Nombre Completo</p>
            <input type="text" name="fullname" placeholder="Alguien">
            <p>Correo</p>
            <input type="text" name="email" placeholder="Alguien@correo.com">
            <p>Contraseña</p>
            <input type="password" name="password" placeholder="Contraseña">
            <input type="submit" name="" value="Registrarse">
        </form>
    </div>
</div>